In [1]:
import sys
sys.path.append("..")

from scripts.utils import DuckdbUtils

duckdb_utils = DuckdbUtils()

In [2]:
sql_query = """
SELECT
    violation_code,
    definition,
    is_manhattan_96th_st_below,
    fee_usd
FROM
    silver_parking_violation_codes
LIMIT 10
"""

duckdb_utils.run_sql_query_and_return_df(sql_query)

,violation_code,definition,is_manhattan_96th_st_below,fee_usd
0,1,FAILURE TO DISPLAY BUS PERMIT,True,515
1,1,FAILURE TO DISPLAY BUS PERMIT,False,515
2,2,NO OPERATOR NAM/ADD/PH DISPLAY,True,515
3,2,NO OPERATOR NAM/ADD/PH DISPLAY,False,515
4,3,UNAUTHORIZED PASSENGER PICK-UP,True,515
5,3,UNAUTHORIZED PASSENGER PICK-UP,False,515
6,4,BUS PARKING IN LOWER MANHATTAN,True,115
7,4,BUS PARKING IN LOWER MANHATTAN,False,115
8,5,BUS LANE VIOLATION,True,250
9,5,BUS LANE VIOLATION,False,250